
  <div class="row">
    <div class="col-sm-14">
   		<h2 class="text-nowrap">
      	How much do you know about one of the categories below:
		</h2>
		<div class="list-group">
			<a href="/#game?&category=film" target="_blank" class="list-group-item">Film</a>
			<a href="/#game?&category=videogames" target="_blank" class="list-group-item">Videogames</a>
			<a href="/#game?&category=cartoons" target="_blank" class="list-group-item">Cartoons</a>
			<a href="/#game?&category=football" target="_blank" class="list-group-item">Football</a>
			<a href="/#game?&category=music" target="_blank" class="list-group-item">Music</a>
		</ul>
    </div>
  </div>
