extends layout
block content
	div(class="row")
		| User: 
	div(class="row")
		| Category:
		div(class="col-sm-14")
			each category,c in categories
				a(href="/quiz/"+category.name+"/" class="btn-block btn-info btn btn-primary") 
					| #{category.name} 
					| #{category.count}

	if (typeof(keys) !== 'undefined')
		div(class="row")
			| Keys:
			div(class="col-sm-14")
				each key,i in keys
					a(href="/quiz/"+category_name+"/"+key+"/" class="btn btn-info" role="button" style="margin:0.1%")
						| #{key}
					
	else
		div(class="row")
			div(class="col-sm-14")
				| No keys

	if (typeof(items) !== 'undefined')
		div(class="row")
			| Items:
			div(class="col-sm-14")
				each item,i in items
					a(href="/quiz/"+category_name+"/"+key_name+"/"+encodeURIComponent(item.name)+"/" class="btn btn-info" role="button" style="margin:0.1%")
						| #{item.name}
					
	else
		div(class="row")
			div(class="col-sm-14")
				| No items

	if (typeof(videos) !== 'undefined')
		div(class="row")
			div(class="col-sm-14")
				| Total videos: 
				| #{videos.length}
				br
				a(href='http://'+server+':8080'+'/#game?withclient=1&category='+category_name+'&key='+key_name+'&item='+encodeURIComponent(item_name) target="_blank" class="btn btn-info" role="button") Start game
				// PROD
				// a(href='http://ec2-52-213-108-97.eu-west-1.compute.amazonaws.com/#game?withclient=1&category='+category_name+'&key='+key_name+'&item='+encodeURIComponent(item_name) target="_blank" class="btn btn-info" role="button") Start game


		div(class="row")
			| Videos:
			div(class="col-sm-14")
				div(class="list-group")
					each video,i in videos
						img(src=video.image class="list-group-item" style="display:inline;")
					
	else
		div(class="row")
			div(class="col-sm-14")
				| No videos



