extends layout
block content
    h3
        style.
            body {
                background-image: url(#{image}) !important;
                background-repeat: no-repeat;
                background-size: cover;

            }

        
        br
        response: #{response}
    