doctype html
html
  head
    meta(charset='utf-8')
    title= "How much do you know about?"
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
    link(href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")

  body(id="app" class="viewport" style="width:80%; margin-left:10%; margin-right:10%")

    div(class="container-fluid")
        block content
        
            