extends layout
block content
    h3
        span(class="mission")
            | LOVE YOUR DREAM, ALBEIT IT TORMENTS YOU!
            br
            br
            | This is a website about a failed love story. Which opened up different questions about personal history. 
            | Nothing makes things right because you can't change the past, the time invested in thinking about it can lead - surprisingly - to useful outcomes.
            | After much negativity a positive act for the cause of helping people to deal  with the situation after an abortion.
            | For clarity, my story has not seen such situation, yet it something we both cared and talked about.
            br
            br
            | The money raised by selling the t-shirts will be devolved to charities.
    
    
    