extends layout
block content
	iframe(type='text/html' width='640' height='390' src=model.questions[0].url+'?autoplay=1&modestbranding=1&autohide=1&showinfo=0&controls=0' frameborder='0') .
	p
		| <br> #{model.questions[0].question}
		ul
			each answer,c in model.questions[0].answers
				li(style="display: block;")
					a(href="/qs/"+category+"/0"+"/"+c) #{answer}
	a(href="/qs/"+category+"/0") Next question
		



